.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5px solid rgba(176, 172, 172, 0.8);
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
  }
 
  .content{
    font-size: 16px;
    line-height: 26.48px;
    font-family: 'Open Sans sans-serif'; 
    font-weight: 'normal'; 
    color: 'gray';
    /* padding-left: 20px; */
  }
  .subContainer{
    display: flex;
    flex-direction: row;
    padding:20px;
    align-items: center;
    gap: 20px;
  }
 
   .grid-item1 {
    border: 0.5px solid rgba(176, 172, 172, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(61, 57, 57);
    position: relative;
    transition: background-image 0.3s ease; 
}

.grid-item1:hover::before {

        filter: brightness(0.8);
}

.grid-item1::before,
.grid-item1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

.grid-item1::before {
    background-image: url('https://www.incerro.ai/assets/images/servicebtnbg.svg');
    border-radius: 10px;
}

.grid-item1::after {
    content: "";
    background-image: url('https://www.incerro.ai/incerro-mono-light.svg');
    background-position: right bottom; 
    background-size: 20px; 
}




  @media only screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: auto auto;
    }
    .grid-item1 {
        width: 100%; 
        height: auto; 
        font-size: 0.8rem; 
        padding: 10px; 
        margin: 10px; 
        border: 0.5px solid rgba(176, 172, 172, 0.8);
        background-color: rgb(61, 57, 57);
        position: relative;
        transition: background-image 0.3s ease; 
    }
    
  }
  
  @media only screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: auto ;
      }
    .grid-item {
      font-size: 0.8rem; 
      padding: 10px;
      margin-left: 0px;
    }
    .grid-item1 {
        width:100%;
        height: fit-content; 
        font-size: 0.8rem; 
        padding: 10px; 
        margin: 10px; 
        border: 0.5px solid rgba(176, 172, 172, 0.8);
        background-color: rgb(61, 57, 57);
        position: relative;
      
    }
    
  }


  

